---
import { getCollection } from 'astro:content'
import BlogCard from '../../components/BlogCard.astro'
import BaseLayout from '../../layouts/BaseLayout.astro'

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

<BaseLayout>
	<section class="app-container py-12">
		<ul class="posts-grid-container">
			{
				posts.map((post) => (
					<li>
						<BlogCard post={post} />
						</li>
					))
				}
		</ul>
	</section>
</BaseLayout>
