---
import BaseLayout from '../layouts/BaseLayout.astro'
import { SITE_BASE } from '../consts'
---

<BaseLayout>
	<head>
		<meta name="robots" content="noindex, nofollow" />
	</head>
	<div>
		<main
			class="app-container h-[95vh] flex flex-col gap-6 justify-center py-56 items-center"
		>
			<h1
				class="font-title text-9xl md:text-[128px] text-center leading-none px-4 hero-title z-10"
			>
				404
			</h1>
			<p class="text-xl text-center max-w-[480px]">
				La página solicitada no fue encontrada. Por favor verifica el enlace.
			</p>
			<a class="btn-primary" href={`${SITE_BASE}/`}>Ir al inicio </a>
		</main>
	</div>
</BaseLayout>
